/* general VPSA product styles here */

/* univseral image borders */
/* COMMENT - check if this is working right. */
.main .content img {
  background-color: #e9e6df;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 6px;
  -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.08);
}
.main .well .content img {
  background-color: #f4f2ef;
}

.main .content .no-border img,
.main .well .content .no-border img {
  background-color: none;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
