/* global VPSA */
body hr {
  border-top: 1px solid #DEDBD3;
}

/* Change descriptor class into summary styles on News and Events nodes */
/* COMMENT - probably ok */
.node-type-stanford-event #node_stanford_event_full_group_descriptor_info.descriptor,
.node-type-stanford-news-item #node_stanford_news_item_full_group_descriptor_info.descriptor {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: normal;
  color: #333;
}

/* Preservce descriptor on the news categories */
/* COMMENT - probably ok */
.node-stanford-news-item .field-name-field-s-news-categories {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
  line-height: 1.5em;
  color: #585754;
  font-weight: normal;
}

/* COMMENT - this has to change now that this block is different */
#block-bean-vpsa-student-affairs-block div.summary {
  padding-top: 5px;
}

/* COMMENT - this looks bad - make this match new theme styles / remove */
#block-bean-vpsa-helpful-links-footer-block .field-type-link-field div a.more-link {
  font-weight: normal;
  text-transform: none;
  font-size: 1.0em;
  border-bottom: dotted 1px #827252;
  margin: 0px;
  line-height: 1.4em;
}
#block-bean-vpsa-helpful-links-footer-block .field-type-link-field div a.more-link:after {
  content: '';
}

/* COMMENT - what is this block? */
.block-stanford-jumpstart-vpsa-shortcuts {
  float: right;
}

/* Hide username and date on search results. Yea, I know. Should do
this in the template file but that wasn't a good option in this case */
/* COMMENT - ok */
li.search-result .search-info {
  display: none;
}

/**
 * Breakout text styles
 */
/* COMMENT - what are these used for? are they used? are they in the WYSIWYG? */
.content p.callout {
  width: auto;
  margin: .8em;
}
.content p.pullquote {
  margin: .8em;
  background: #f2f1eb;
  border: solid 1px #d5d2c5;
  padding: 1em;
  line-height: 1.25em;
  text-indent: 0;
}

/* -------- PRINT STYLESHEETS ----------- */
@media print {

  #top-logo { display: none; }
  #header #logo { display: none !important; }
  #header #name-and-slogan.with-logo { padding-left: 0px; }
  #name-and-slogan #site-name, #name-and-slogan #site-name a, #name-and-slogan #site-slogan { font-size: 12pt !important; }
  #footer { display: none; }
  .element-invisible { position: relative; clip: auto; }
  html.js fieldset.collapsed .fieldset-wrapper { display: block; margin-bottom: 0px; }
  html.js fieldset.collapsible .fieldset-legend { padding: 0px; margin-bottom: 0px; }
  html.js fieldset { margin: 0px; padding: 0px; height:inherit; }
  html.js legend { margin-bottom: 0px; line-height: 1em; font-size: 1.5em; padding: 0px; }

  @page {margin:20mm 10mm;}
  body {margin:20mm 10mm; font-size:10pt;}
  * {color: #000 !important;}
  #main-menu, .logged-in .tabs, #footer, #global-footer, #global-header, #admin-shortcuts, .block-menu-block {display:none;}
  h1.page-title {margin-top:20px; display:block; clear:both;}
  img {max-width: 100%;}
  a[href]:after {font-size:80%; word-wrap: break-word;}
  p, h1, h2, h3, h4, li {page-break-after:auto; page-break-before:auto;}
  h1, h2, h3, h4, li {page-break-inside:avoid;}
  #header {min-height:auto; padding:0px; margin-bottom:10mm;}
  #header a[href]:after {display:none;}
  #sidebar-first, #content, #sidebar-second { display: block; width: 100%; }
  #block-menu-block-stanford-jsvpsa-layouts-4, .workbench-info-block { display: none; }
  table td, table th {border:1px solid #000;}

}
