/* global VPSA */
body hr {
  border-top: 1px solid #8C1515;
}

/* Change descriptor class into summary styles on News and Events nodes */

.node-type-stanford-event #node_stanford_event_full_group_descriptor_info.descriptor,
.node-type-stanford-news-item #node_stanford_news_item_full_group_descriptor_info.descriptor {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: normal;
  color: #333;
}

/* Preservce descriptor on the news categories */

.node-stanford-news-item .field-name-field-s-news-categories {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
  line-height: 1.5em;
  color: #585754;
  font-weight: normal;
}

/* Special styles for the VPSA footer block */

body #footer {
  background: #f2f1eb;
}

#block-bean-vpsa-student-affairs-block div.summary {
  padding-top: 5px;
}

#block-bean-vpsa-helpful-links-footer-block .field-type-link-field div a.more-link {
  font-weight: normal;
  text-transform: none;
  font-size: 1.0em;
  border-bottom: dotted 1px #827252;
  margin: 0px;
  line-height: 1.4em;
}

#block-bean-vpsa-helpful-links-footer-block .field-type-link-field div a.more-link:after {
  content: '';
}

/* Homepage styles to make the layout work */

.front #content-body .block-views.span12 h2 {
  background-color: #f2f1eb;
  padding:10px;
  margin-bottom:0;
  border-bottom: #d5d2c5 1px solid;
}

.front #content-body .block-views.span12 .view-content, .front #content-body .block-views.span12 .more-link {
  padding: 0 10px
}

/* updating calendar month and day titles to match homepage h2 styles */
.view-stanford-events-calendar .date-nav-wrapper {
  border-bottom: #d5d2c5 1px solid;
}

.block-stanford-jumpstart-vpsa-shortcuts {
  float: right;
}

/* tweaks to Carousel to adjust for 12 column width */

@media (max-width: 1199px) and (min-width: 979px) {
  .view.carousel .carousel-block .carousel-caption {
    width: 34%;
  }
}
